<div class="create__options" *ngIf="!creationMode">
  <div class="create__back btn" (click)="onGoBack()">Back</div>
</div>
<app-loading *ngIf="loading"></app-loading>
<div class="create__error" *ngIf="error">
  Such note does not exist.
</div>
<form class="create__form" [formGroup]="createForm" (submit)="onSubmit()" *ngIf="!loading && !error">
  <input type="text" class="create__subject" placeholder="Subject" formControlName="subject">
  <textarea class="create__content" placeholder="Content" formControlName="content">
  </textarea>
  <div class="create__sheets">
    <div class="create__sheet" *ngFor="let sheet of sheets, let index">
      <input type="radio" class="create__radio" formControlName="sheet" name="sheet" [value]="index" [id]="index">
      <label [for]="index" class="create__color" [ngStyle]="{ backgroundColor: index }"></label>
    </div>
  </div>
  <button class="create__btn-submit btn" [disabled]="createForm.invalid || createForm.pristine">{{ btnText }}</button>
</form>
