<div class="filter">
  <form class="filter__searchForm" [formGroup]="searchForm" (submit)="onSearch()">
    <input type="text" class="filter__search" formControlName="search" maxlength="30">
    <button type="submit" class="filter__submit" [disabled]="searchForm.pristine">
      <svg class="filter__icon">
        <use href="assets/images/sprite.svg#icon-search" />
      </svg>
    </button>
  </form>

  <select name="sheet" class="filter__select filter__sheets">
    <option class="filter__option" value="">All sheets</option>
    <option class="filter__option" [value]="sheet" *ngFor="let sheet of sheets, let name of sheetNames">{{ name }}</option>
  </select>

  <select name="date" class="filter__select filter__date">
    <option class="filter__option" value="">Least recent</option>
    <option class="filter__option" value="">Most recent</option>
  </select>
</div>
