:host {
  background-color: #272727;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 6rem;
}

.app {
  &__wall {
    background-color: #36363698;
    border-radius: .3rem;
    padding: 4rem 6rem;
  }

  &__create {
    margin-bottom: 1rem;
  }

  &__close {
    background-color: #fe346e;
  }
}
