:host {
  background-color: #272727;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 6rem;
}

.app {
  &__wall {
    background-color: #ffb385;
    height: 10rem;
  }

  &__create {
    margin-bottom: 1rem;
  }
}
