/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #272727;
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.6rem;
}

.row {
  max-width: 70rem;
  margin: 0 auto;
}

.btn {
  background-color: #ffd31d;
  border: none;
  border-radius: .3rem;
  color: #fff;
  cursor: pointer;
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.6rem;
  //margin-left: auto;
  outline: none;
  padding: 1rem 2rem;
  width: 15rem;
  transition: all .1s ease;

  &:active {
    transform: translateY(.2rem);
  }

  &:disabled {
    background-color: rgba(#ffd31d, .3);
    color: rgba(#fff, .3);
    cursor: default;
  }
}

// pagination bar

.home__pagination .ngx-pagination {
  margin-bottom: 0 !important;
}

.home__pagination .ngx-pagination li a {
  border-radius: 0.3rem;
  color: #616161 !important;
  outline: none;
  transition: all .3s ease;
  padding: 1rem;
}

.home__pagination .ngx-pagination li a:hover {
  color: #272727 !important;
  background-color: #616161 !important;
}

.home__pagination .ngx-pagination .current {
  background-color: #ffd31d !important;
  border-radius: 0.3rem;
  color: #fff !important;
  padding: 1rem;
}

.home__pagination .ngx-pagination .disabled {
  color: #616161 !important;
  opacity: .3;
  padding: 1rem;
}

.ngx-pagination {
  & .pagination-previous a::before,
  & .pagination-previous.disabled::before,
  & .pagination-next a::after,
  & .pagination-next.disabled::after {
  content: '' !important;
}
}
