<div class="home__menu">
  <button class="home__create btn" [ngClass]="{home__close: createNote}" (click)="onCreate()">
    {{ createBtnText }}
  </button>
  <app-filter></app-filter>
</div>
<app-create *ngIf="createNote" [creationMode]="true" (createdNewNote)="closeCreateNote()"></app-create>
<div class="home__wall">
  <app-notes></app-notes>
</div>
<div class="home__pagination">
  <pagination-controls
    class="home__pagination"
    id="notes-paginate"
    autoHide="true"
    maxSize="5"
    (pageChange)="pageChanged($event)"
  >
</pagination-controls>
</div>
