.home {
  &__wall {
    background-color: #2c3030;
    border-radius: .3rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
  }

  &__menu {
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
    align-items: stretch;
  }

  &__create {
    margin-right: 1rem;
  }

  &__close {
    background-color: #fe346e;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media(min-width: 26.56em) {
  .home {
    &__wall {
      padding: 2rem 3rem;
      margin-bottom: 2rem;
    }

    &__pagination {
      margin-bottom: 1rem;
    }
  }
}

@media(min-width: 48em) {
  .home {
    &__wall {
      padding: 3rem 4rem;
      margin-bottom: 2rem;
    }

    &__pagination {
      margin-bottom: 1rem;
    }
  }
}

@media(min-width: 64em) {
  .home {
    &__wall {
      padding: 4rem 6rem;
      margin-bottom: 4rem;
    }

    &__pagination {
      margin-bottom: 2rem;
    }
  }
}
